<footer class="w-full h-auto pin-b">
  <div>
    <div class="flex">
      <div class="w-1/3 pl-4">
        <address class="text-xs mt-2">
        Organization
        <br>123 Main Street
        <br>456 East Hall
        <br>Ann Arbor, MI 48109-1043
        </address>
      </div>
      <div class="w-1/3 mt-2 mx-auto flex justify-center">
        734.647.0000 - voice
        <br>
        734.763.0009 - fax
      </div>
      <div class="w-1/3 flex justify-end">
        <% if admin_user_signed_in? %>
          <ul>
            <li>
              <%= link_to 'Admin Dashboard', root_path, class: "mt-2 pr-4" %>
            </li>
            <li>
              <%= link_to destroy_admin_user_session_path, method: :delete do  %>
                <%= render :partial => 'svg/open_padlock' %>
                <span>Admin Sign_out</span>
              <% end %>
            </li>
          </ul>
        <% else %>
          <%= link_to new_admin_user_session_path do  %>
            <%= render :partial => 'svg/closed_padlock' %>
            <span class='pr-4'>Admin Sign_in</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="w-full flex justify-center">
      <div class="copyright">
        Copyright <%= Time.now.year %> | <%= link_to 'The Regents of the University of Michigan', 'https://regents.umich.edu' %>
      </div>
    </div>
  </div>
</footer>