<!DOCTYPE html>
<html class='h-full'>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <noscript>
      <meta http-equiv="refresh" content="2;url=nojavascript.html">
    </noscript>

  </head>
  <body class='flex flex-col h-full'>
    <%= render 'layouts/header' %>
    <main class="flex-1 mx-auto px-2">
      <%= render 'layouts/notification' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
